{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
  <div class="form-container">
    <form method="post">
      {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
        <div class="mb-3">
          You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
      {% endif %}

      <h1 class="h3 mb-3 font-weight-normal">Liste GPAO</h1>

      <div class="form-group">
        <label for="inputUsername">Login</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>
      </div>

      <div class="form-group">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
      </div>

      <input type="hidden" name="_csrf_token"
             value="{{ csrf_token('authenticate') }}"
      >

      <button class="btn btn-lg btn-primary" type="submit">
        Valider
      </button>
    </form>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('login') }}
{% endblock %}
